<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

<header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="{{ homepage_url|default('https://www.gov.uk') }}" title="{{ logo_link_title|default('Go to the GOV.UK homepage') }}" id="logo" class="content">
              <img src="{{ asset_path }}images/gov.uk_logotype_crown_invert_trans.png?0.17.3" width="35" height="31" alt=""> GOV.UK <span class="product-name">Pay</span>
            </a>
          </div>
          {% block inside_header %}{% endblock %}
        </div>
        <div class="header-proposition" style="margin-top: 4px;">
          <div class="content">
            <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
            <nav id="proposition-menu">
              <ul id="proposition-links" class="right-aligned">
                <li><a href="#">Sign out</a></li>
                <li><a href="https://gds-payments.gelato.io/">Documentation</a></li>
                <li><a href="https://gds-payments.gelato.io/docs/versions/1.0.0/before-you-start">Get started</a></li>
                <li><a href="#">About</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div id="global-header-bar"></div>



    