        <div class="header-proposition" style="margin-top: 4px;">
          <div class="content">
            <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
            <nav id="proposition-menu">
              <ul id="proposition-links" class="right-aligned">
                <li><a href="#">Sign out</a></li>
                <li><a href="#">Documentation</a></li>
                <!-- <li><a href="#">Get started</a></li> -->
                <li><a href="#">About</a></li>
              </ul>
            </nav>
          </div>
        </div>