// @import 'elements';
@import 'govuk-elements';


#global-header-bar {
	max-width: 1180px;
}

#global-header .header-wrapper {
	max-width: 1210px;
}

.header-sign-out {
	color: white;
}

#content {
	max-width: 1180px;
}

.overview {
	margin-bottom: 10px;
}

a#logo::after {
    content: "Pay";
}

.column-three-quarters {
	@include grid-column( 3/4 );
}

.underline {
	border-bottom: 5px solid #0B0C0C;
}

.staff-subheading {
	margin-top: 15px;
	margin-bottom: 5px;
}

.utility-nav {
	border-bottom: 1px solid #BFC1C3;
	margin-left: 15px;
	margin-right: 15px;
	height: 50px;
}

.utility-nav ul {
	float: right;
	list-style: none;
	padding-top: 15px;
}

.utility-nav li {
	display: inline;
	margin-right: 15px;
	font-size: 16px;
}
.utility-nav li:nth-child(2) {
	margin-right: -5px;
}

.status-column {
	width: 200px;
}

.service-name {
	font-weight: 700;
	font-size: 19px;
	padding-top: 10px;
	margin-left: -15px;
}

.left-nav {
	font-size: 19px;
	font-weight: 400;
	margin-top: 30px;
	padding-right: 30px;
}

.left-nav li {
	border-bottom: 1px solid #BFC1C3;
	padding-bottom: 8px;
	padding-top: 12px;
	text-decoration: none;
}

.left-nav li a {
	text-decoration: none;
}

.intro-block-blue {
	margin-top: 45px;
	max-width: auto;
	background-color: #005EA5;
	padding: 15px 45px 45px 45px;
	color: white;
}

img .page-numbers {
	margin-top: 15p
}

.table-list th {
	font-size: 16px;

}



.intro-block-blue a {
	color: white;
}

tbody {
	font-size: 14px;
}

tr.clickable-row {
	cursor: pointer;
}

tr.clickable-row:hover {
	background-color: #F8F8F8;
}


.view-all {
	font-size: 19px;
	font-weight: 700;
	padding-left: 30px;
}

.form-label-bold .form-hint {
	font-size: 16px;
	color: #0B0C0C;
	margin-bottom: 5px;
}

.form-hint {
	font-size: 16px;
	color: #0B0C0C;
	margin-top: 5px;
	margin-bottom: 5px;

}

.form-hint-small {
	font-size: 14px;
	margin-top: 5px;
	color: #0B0C0C;
}

.date-label {
	margin-bottom: -5px!important;
}

.form-date .form-group {
	width: 122px;
	margin-right: 5px;
}

.filter-fields .form-group {
	margin-bottom: 20px;
}

.form-control {
	font-size: 16px;
}

.filter-section {
	background-color: #DEE0E2;
	height: 220px;
	padding: 20px;
	overflow: hidden;
}

.filter-fields {
	padding-left: 0;
}

.datetime-seperator {
    width: 40px;
    float: left;
    line-height: 86px;
    text-align: center;
}

.error-code {
	// position: relative;
	// float: left;
	font-size: 14px;
	border-left: 5px solid #6F777B;
	margin-top: 10px;
	display: list-item;
	list-style: none;
	color: #6F777B;
	padding-left: 5px;
	padding-top: 2px;
}

.refund-label {
	color: #B10E1E;
	font-size: 14px;
	border-left: 5px solid #B10E1E;
	padding-left: 5px;
	padding-top: 2px;
	margin-top: 10px;
	display: list-item;
	list-style: none;
}

.refund-button-area {
	vertical-align: right;
	margin-left: 20px;
}

.refund-button {
	background-color: #B10E1E;
}

.refund-button:hover {
	background-color: #800000;
}

.disputed-label {
	color: #6F777B;
	font-size: 14px;
	border: 2px solid #6F777B;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	margin-left: 10px;
	padding-bottom: 2px;
}


::-webkit-input-placeholder {
   font-size: 16px;
}

:-moz-placeholder { /* Firefox 18- */
   font-size: 16px;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-size: 16px;
}

:-ms-input-placeholder {
   font-size: 16px;
}

.filter-button {
	margin-top: 40px;
	margin-left: 0px;
	padding-top: 5px;
	height: 30px;

	a {
		display: inline-block;
		font-size: 16px;
		margin-left: 10px;
		margin-top: 15px;
	}
}

.clear {
	font-size: 16px;
	text-decoration: none;
}

.light-logo {
	font-weight: 300;
}

.form-control {
    width: 100%!important;
}

.dropdown-list {
    // background-image: url('/public/images/arrow.png');
    // background-repeat: no-repeat;
    // background-position: 97% 50%;
    // background-position-x: 97%;
    // background-position-y: 50%;
    background-color: #F8F8F8;
    height: 34px;
}

.red-button {
	background-color: #DF3034;
	color: white;
	padding: 10px;
	font-size: 16px;
	border-bottom: 2px solid black;
	border-right: none;
	border-left: none;
	border-top: none;
	margin-left: 15px;
	float: right;
}

.red-button:hover {
	background-color: #B10E1E;
}

.dashboard-section {
	background-color: white;
}

.dashboard-section h2 {
	font-size: 24px;
	font-weight: 700;
	margin-top: 30px;
}

.dashboard-section table {
	font-size: 24px;
	font-weight: 700;
	margin-top: 30px;
}


table {
	margin-top: 30px;
}

.padding-grid-row{
	padding-left: 15px;
	padding-right: 15px;
}

.padding-grid-row-2{
	padding-left: 30px;
	padding-right: 30px;
}

.no-left-padding {

	padding-right: 30px;
}



.form-control {
	width: 66%;
}

.medium-width {
	width: 50%;
}

.back {
	margin-top: 30px;
}

.back a {
	color: #005EA5;
	margin-top: 100px;
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
}

.heading-large {
	margin-top: 30px;
	margin-bottom: 30px;
}

.section-number {
	font-size: 24px;
	color: #6f777b;
	margin-top: 30px;
}

.service-before-title {
	margin-top: 7px;
}

#visa-image {
	margin-bottom: -10px;
	max-width: 110px;

}

.visa-hidden {
	visibility: hidden;
}

.table-info {
	font-weight: 700;
}

// table td {
// 	border-bottom: none;
// }

.paypoint-payment-summary {
	background-color: #FFFFFF;
	margin-bottom: 30px;
	margin-top: 30px;
}

.paypoint-payment-summary h2 {
	font-size: 27px;
	font-weight: 700;
	padding-bottom: 15px;
}

.find-paypoint-location {
	margin-top: 15px;
	margin-bottom: 30px;
}

.paypoint-locater {
	border: 1px solid #DEE0E2;
	padding: 15px;
}

.payment-summary {
	border: 10px solid #DEE0E2;
	background-color: #F8F8F8;
	padding: 30px;
	margin-bottom: 30px;
	margin-top: 30px;
}


.change-selection a {
	color: #005EA5;
	margin-top: 30px;
}


.payment-summary h2 {
	font-size: 27px;
	font-weight: 700;
	padding-bottom: 15px;
}

.payment-info {
	font-weight: 700;
}
.payment-amount {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 10px;
	margin-top: 0px;
}

#amount {
	max-width: 150px;
}

.payment-unsuccessful {
	background-color: #AF1324;
	color: white;
	padding: 30px;
	margin-bottom: 10px;
	margin-top: 30px;
	text-align: center;
}

.payment-unsuccessful h1 {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 30px;
	margin-top: 30px;
}


.payment-confirmed {
	background-color: #28A197;
	color: white;
	padding: 30px;
	margin-bottom: 10px;
	margin-top: 30px;
	text-align: center;
}

.payment-confirmed h1 {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 30px;
	margin-top: 30px;
}

.payment-confirmed p {
	font-size: 36px;
	font-weight: 700;
	padding-bottom: 15px;
	margin-top: 10px;
	margin-bottom:15px;
}

.payment-confirmed img {
	padding-right: 15px;
}

.payment-confirmed td {
	color: white;
	border-bottom-color: white;
	font-weight: 700;
}

.finish-and-return {
	margin-top: 30px;
}

.payment-type-intro {
	max-width: 100%;
	color: #6F777B;
}

.intro {
	font-weight: 700;
}

#security-number {
	width: 100px;
}

table td {
	font-size: 16px;
	font-weight: 300;
	vertical-align: top;
}

.big-type-table td {
	font-size: 24px;
	color: white;
	padding-left: 15px;
	padding-right: 15px;
}

.little-type-table td {
	font-size: 19px;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.right-align {
	text-align: right;
}

.table-colour {
	background-color: #005EA5;
	color: white;
}

.table-colour-red {
	background-color: #DF3034;
	color: white;
}

.table-colour-green {
	background-color: #00823B;
	color: white;
}

.table-colour-grey {
	background-color: #6F777B;
	color: white;
}

tr.table-colour:hover {
	background-color: black;
}

tr.table-colour-red:hover {
	background-color: black;
}

tr.table-colour-green:hover {
	background-color: black;
}

tr.table-colour-grey:hover {
	background-color: black;
}

.form-label-bold {
	font-size: 16px;
	margin-bottom: 2px;
}


#building-and-street {
	margin-bottom: 10px;
}

#postcode {
	width: 100px;
}

.barcode {
	padding-bottom: 30px;
}

.barcode img {
	padding: 30px;
	border: 1px solid gray;
	margin: auto;
	max-width: 500px;
}

.print-download img{
	max-width: 20px;
	padding-right: 10px;
	padding-top: 15px;
}

.print-download-section{
	margin-top: 10px;
	margin-bottom: 30px;
}

.print-download li{
	font-weight: 700;
}

.print-download li a{
	text-decoration: none;
}


img.card-image {
	max-height: 38px;
	padding-top: 2px;
	margin-left: 15px;
	vertical-align: middle;
	// float: left;
}

.form-group button {
	margin-top: 10px;
}

.form-group-send button {
	margin-top: 0px;
}

.form-group-send {
	margin-bottom: 0px;
	margin-top: 15px;
}

.button-grey {
  background-color: #6F777B;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #0B0C0C;
  -moz-box-shadow: 0 2px 0 #0B0C0C;
  box-shadow: 0 2px 0 #0B0C0C;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #fff;
  margin: -15px 15px 15px 0;
  padding: 0.36em 0.78947em 0.2em 0.78947em;
  vertical-align: top;
}

.button-grey:hover {
  background-color: #BFC1C3;
}

.email-address {
	font-weight: 700;
}

.email-address a {
	font-weight: 300;
	color: #005EA5;
	text-decoration: underline;
}




.DD-terms-conditions {
	max-width: 66%;
	font-size: 16px;
	color: #6F777B;
	margin-top: 30px;
}

.DD-terms-conditions a {
	text-decoration: underline;
	color: #005EA5;
}

.dd-images img {
	padding-right: 15px;
	margin-bottom: 15px;
}

.payment-summary-small {
	border: 10px solid #DEE0E2;
	background-color: #F8F8F8;
	padding: 15px;
	margin-top: 30px;
	// position: -webkit-sticky;
}


.payment-summary-small h2 {
	font-size: 24px;
	font-weight: 700;
	padding-bottom: 30px;
}

h2.heading-paypoint {
	font-size: 27px;
	font-weight: 700;
	padding-bottom: 15px;
}


.sticky {
    position: fixed;
    width: 250px;
    // width: 33%;
    // left: 0;
    top: 0;
    z-index: 100;
    margin-top: 30px;

}

.inline h2 {
	font-weight: 700;
	font-size: bold;
	margin-bottom: 10px;
}
.check-details {
	margin-bottom: 30px;
}

.check-details h2 {
	font-size: 19px;
	margin-top: 15px;
}

.check-details p {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 5px;
}




.sentsms {
	font-weight: 700;
	font-size: 19px;
	color: white;
	background-color: #28A197;
	padding: 30px;
}

.logo {
	margin-top: 30px;
	margin-left: 15px;
	margin-bottom: 30px;
	font-size: 19px;
}


.lede-link {
	font-size: 24px;
	margin-bottom: 10px;
}

.form-control-5em {
	max-width: 120px;
}

.transaction-categories {
}

.category {
	display: inline-block;
	width: 20%;
	margin-top: 10px;
	margin-left: 15px;
}

.category:first-child {
	margin-left: 0;
}

.category__amount {
	color: white;
	padding: 10px;
}

.category p {
	font-size: 16px;
	margin-bottom: 5px;
}

.category__sum {
	font-weight: 700;
}

.category--successful .category__amount {
	background-color: #005EA5;
}
.category--failed .category__amount {
	background-color: gray;
}
.category--refunds .category__amount {
	background-color: #DF3034;
}
.category--net-income .category__amount {
	background-color: black;
}

.arrow {
	display: inline-block;
	margin-left: 10px;
	margin-top: -7px;
	vertical-align: middle;
}

.get-in-touch {
	margin-top: 30px;
}

.filter-fields .heading-small {
	font-weight: 400;
	margin-bottom: 30px;
}



@media only screen and (max-width : 720px) {

.sticky {
    position: static;
    // width: 85%;
    // margin-top: 30px;
    // clear: both;
    // width: 33%;
    // left: 0;
    // top: 0;
    // margin: 15px;
    // z-index: 100;
}

.payment-summary-small {
	position: static;
	clear: both;
	margin-right: 15px;
}

}

@media only screen and (max-width : 480px) {

	.form-group button {
		margin-top: 30px;
	}

	.payment-summary {
		padding: 15px;
		margin-bottom: 30px;
		margin-top: 30px;
	}

	.payment-confirmed {
		padding: 15px;
		margin-bottom: 10px;
		margin-top: 30px;
		text-align: center;
	}

	.payment-confirmed h1 {
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 30px;
		margin-top: 30px;
	}

	.payment-confirmed p {
		font-size: 24px;
		font-weight: 700;
		padding-bottom: 15px;
		margin-top: 10px;
		margin-bottom:15px;
	}

	.barcode img {
		max-width: 300px;
	}

}

body {
	font-family: "nta" !important;
}

.pre-load-marker {
  margin-top: $gutter;
  text-align: center;

  img {
    margin-bottom: $gutter-half;
  }

  .gs-data-loaded & {
    display: none;
  }
}

.table-layout-fixed {
	table-layout: fixed;
}

.overflow-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


.remove-confirmation {
	border: 5px solid $error-colour;
	padding: 15px;

}
.remove-confirmation p {
	font-weight: 700;
}

.remove-confirmation .button {
	@include button($error-colour); 
}

.button { 
	padding-top: 5px;
}

.remove-cancel {
	line-height: 40px;
	padding: 0 15px;
}

.permissions-type {
	font-weight: 700;
}

.team-active {
	padding-left: 0;
}
.invite-button {
	margin-top: 10px;

}

.radio-2 {
	font-weight: 700;
}

.permission-main {
	.block-label {
		background-color: #fff;
		border: none;
	}
}

.permission-list {
	color: $secondary-text-colour;
}

.permission-main-type {
	font-weight: 700;
}

.edit-permissions {
	font-weight: 700;
}

