<table>
  <tbody>
    <tr>
      <td>Authorisation succeeded</td>
      <td>£{{ amount }}.00</td> 
      <td>{{ authSucceed }}</td>
    </tr>
    <tr>
      <td>Card details submitted for authorisation</td>
      <td>£{{ amount }}.00</td> 
      <td>{{ authSubmit }}</td>
    </tr>
    <tr>
      <td>User entering card details</td>
      <td>£{{ amount }}.00</td> 
      <td>{{ startEnter }}</td>
    </tr>
    <tr>
      <td>Payment created</td>
      <td>£{{ amount }}.00</td> 
      <td>{{ startDate }}</td>
    </tr>
  </tbody>
</table>