{% extends "layout.html" %}

{% block page_title %}
  Transaction list
{% endblock %}

{% block content %}
<main id="content" role="main">

<div class="grid-row">
		{% include "includes/utility-navigation.html" %}
</div>
	
<div class="grid-row">
	
<!-- Left nav -->

	<div class="column-quarter">
		{% include "includes/left-navigation.html" %}		
	</div>

<!-- Invite confirmation box -->

	<div class="column-one-half">
		<div class="govuk-box-highlight">
			<p>Invite sent to paul.murphey@digital.ministry.gov.uk</p>
		</div>
	</div>

	<div class="column-three-quarters">


<!-- Invite button -->

	    <h1 class="heading-large underline">Team Members</h1>
	      	<div class="overview">
	      		<div class="column-one-half team-active">
		      		<h2 class="heading-medium staff-subheading">
	    				Active (7)
	  				</h2>
  				</div>
  				<div class="column-one-half invite-button">
	  				<a href="/invite-team-members">
		  				<input class="button" type="submit" value="Invite a team member">
	  				</a>
  				</div>
			</div>


		<div class="column-three-quarters filter-fields">
				
		    <table>
		    	
		      	<tbody>
		      		<tr>
		      			<td class="permissions-type">Administrators (2)</td>
		      		</tr>
			      	<tr>
			      		<td>John Smith (you)</td>
			      	</tr>
			      	<tr>
			      		<td>Lois Gonzalez</td>
			      	</tr>
				</tbody>
				<tbody>
			</table>
			<table>	
		      		<tr>
		      			<td class="permissions-type">View and refund (3)</td>
		      		</tr>
			      	<tr>
			      		<td>Alison Wilson</td>
			      	</tr>
			      	<tr>
			      		<td>Richard Pardy</td>
			      	</tr>
			      	<tr>
			      		<td>Maria O'Toole</td>
			      	</tr>
				</tbody>
			</table>
			<table>
				<tbody>
		      		<tr>
		      			<td class="permissions-type">View only (2)</td>
		      		</tr>
			      	<tr>
			      		<td>Joe Bloggs</td>
			      	</tr>
			      	<tr>
			      		<td>Oscar Smith</td>
			      	</tr>
				</tbody>
			</table>		
		</div>

		<div class="overview">
      		<div class="column-one-half team-active">
	      		<br/>
	      		<h2 class="heading-medium staff-subheading">
					Invited (1)
  				</h2>
			</div>
		</div>
		<div class="column-three-quarters filter-fields">
	
		    <table>
		    	
		      	<tbody>
		      		<tr>
		      			<td class="permissions-type">View and refund (1)</td>
		      			<td></td>
		      		</tr>
			      	<tr>
			      		<td>Paul Murphey</td>
			      		<td><a href="team-members">Cancel invitation</a></td>
			      	</tr>
				</tbody>
				<tbody>
			</table>
	</div>
</div>
</main>

{% endblock %}
