{% extends "govuk_template.html" %}
  {% block head %}
    {% include "includes/head.html" %}
    <script src="/public/javascripts/jquery-1.11.3.js"></script>
    <script src="/public/javascripts/nunjucks.min.js"></script>
    <script src="/public/javascripts/google-sheets.js"></script>
    <script src="/public/javascripts/data-app-detail.js"></script>
  {% endblock %}

  {% block content %}
  <main id="content" role="main">
    <div id="authorize-div" style="display: none">
      <span>Authorize access to Google Sheets API</span>
      <!--Button for the user to click to initiate auth sequence -->
      <button id="authorize-button" onclick="handleAuthClick(event)">
        Authorize
      </button>
    </div>

    <div id="detail-item"></div>
  </main>
  {% endblock %}
