{% extends "govuk_template.html" %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block body_classes %}transaction-list-view{% endblock %}

{% block content %}
<main id="content" role="main">
  <div id="authorize-div" style="display: none">
    <span>Authorize access to Google Sheets API</span>
    <!--Button for the user to click to initiate auth sequence -->
    <button id="authorize-button" onclick="handleAuthClick(event)">Authorize</button>
  </div>
  <div class="grid-row"> {% include "includes/utility-navigation.html" %} </div>
  <div class="grid-row">
    <div class="column-quarter"> {% include "includes/left-navigation.html" %} </div>
    <div class="column-three-quarters">
      <div id="react-root"></div>
    </div>
  </div>
  <script src="/public/javascripts/bundle.js"></script>
  <script src="https://apis.google.com/js/client.js"></script>
</main>
{% endblock %}
