{% extends "layout.html" %}

{% block page_title %}
  Transaction list
{% endblock %}

{% block content %}
<main id="content" role="main">

<div class="grid-row">
		{% include "includes/utility-navigation.html" %}
</div>
	
<div class="grid-row">
	<!-- Left nav -->	
	<div class="column-quarter">
		{% include "includes/left-navigation.html" %}		
	</div>

	<!-- Main body -->

	<div class="column-three-quarters">
	    <h1 class="heading-large underline">Team Members</h1>
	      	<div class="overview">
	      		<div class="column-one-half team-active">
		      		<h2 class="heading-medium staff-subheading">
	    				Active (7)
	  				</h2>
  				</div>

  	<!-- Invite button -->			
  				<div class="column-one-half invite-button">
  					<a href="/invite-team-members">
	  					<input class="button" type="submit" value="Invite a team member">
	  				</a>
  				</div>
			</div>

	<!-- Team members list -->
		<div class="column-three-quarters filter-fields">
				
		    <table>
		    	
		      	<tbody>
		      		<tr>
		      			<td class="permissions-type">Administrators (2)</td>
		      		</tr>
			      	<tr class='clickable-row' data-href='team-member-detail'>
			      		<td>John Smith (you)</td>
			      	</tr>
			      	<tr>
			      		<td>Lois Gonzalez</td>
			      	</tr>
				</tbody>
				<tbody>
			</table>
			<table>	
		      		<tr>
		      			<td class="permissions-type">View and refund (3)</td>
		      		</tr>
			      	<tr>
			      		<td>Alison Wilson</td>
			      	</tr>
			      	<tr>
			      		<td>Richard Pardy</td>
			      	</tr>
			      	<tr>
			      		<td>Maria O'Toole</td>
			      	</tr>
				</tbody>
			</table>
			<table>
				<tbody>
		      		<tr>
		      			<td class="permissions-type">View only (2)</td>
		      		</tr>
			      	<tr>
			      		<td>Joe Bloggs</td>
			      	</tr>
			      	<tr>
			      		<td>Oscar Smith</td>
			      	</tr>
				</tbody>
			</table>
			
		</div>
	
	</div>

</div>
</main>

{% endblock %}
