{% extends "layout.html" %}

{% block page_title %}
  GOV.UK payment page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-one-third">
      <h1 class="form-title heading-large">
            Check your mobile number
      </h1>
      
      <p> Check your mobile phone number is correct, then resend the security code.</p>
      
      <form action="verify" class="form">

          <div class="form-group">
            <label class="form-label" for="email">
              Mobile number
            </label>
            <input type="text" class="form-control" id="mobile-number">
          </div>   
          
          <div class="form-group">
            <input class="button" type="submit" value="Resend security code">
          </div>

      </form>
    </div>
  </div>
</main>

{%endblock%}
