{% extends "layout.html" %}

{% block page_title %}
  Transaction list
{% endblock %}

{% block content %}
<main id="content" role="main">

	<div class="grid-row">
		{% include "includes/utility-navigation.html" %}
	</div>
<div class="grid-row">
	<div class="column-quarter">

		{% include "includes/left-navigation.html" %}		
	</div>

	    <div class="column-three-quarters">
	      <h1 class="heading-large underline">Transactions</h1>
	      	<div class="overview">
	      	<div class="back">
				<a href="javascript:history.back()">&#9664; Back</a>
			</div>
	      		<h2 class="heading-medium staff-subheading">
    				Transaction detail
  				</h2>
			 </div>

			<div class="column-three-quarters filter-fields">

		    <table>
		      	<tbody>
			      	<tr>
			      		<td>Reference number:</td> 
			      		<td>TEST123456V</td>
			      	</tr>
			      	<tr>
			      		<td>Email address:</td> 
			      		<td>johnsmith@virginmedia.com</td>
			      	</tr>
			      	<tr>
						<td>Amount:</td>
						<td>£250.00</td>
					</tr>
					<tr>
						<td>Status:</td> 
						<td>Successful</td>
					</tr>
					<tr>
						<td>Type:</td>
						 <td>Mastercard debit</td>
					</tr>
					<tr>
						<td>Time:</td>
						<td>4 Oct 2016 – 12:45</td>
					</tr>
					<tr>
						<td>Provider:</td>
						<td>Barclays</td>
					</tr>
					<tr>
						<td>Transaction ID:</td>
						 <td>20150602153345</td>
					</tr>
					<tr>
						<td>GOV.UK payment ID:</td> 
						<td>42250259</td>
					</tr>
				</tbody>
			</table>

			<h2 class="heading-medium">Transaction events</h2>

			<table>
		      	<tbody>
		      		<tr>
						<td>Payment successful</td>
						<td>£250.00</td> 
						<td>4 Oct 2016 – 12:45</td>
					</tr>
					<tr>
						<td>Payment submitted</td>
						<td>£250.00</td> 
						<td>4 Oct 2016 – 12:45</td>
					</tr>
					<tr>
						<td>Authorisation succeeded</td>
						<td>£250.00</td> 
						<td>4 Oct 2016 – 12:44</td>
					</tr>
					<tr>
						<td>Card details submitted for authorisation</td>
						<td>£250.00</td> 
						<td>4 Oct 2016 – 12:43</td>
					</tr>
					<tr>
						<td>User entering card details</td>
						<td>£250.00</td> 
						<td>4 Oct 2016 – 12:43</td>
					</tr>
					<tr>
						<td>Payment created</td>
						<td>£250.00</td> 
						<td>4 Oct 2016 – 12:42</td>
					</tr>
				</tbody>
			</table>

			<h2 class="heading-medium"></h2>

			<details>
			    <summary><span class="summary">View logs</span></summary>
			    <div class="panel panel-border-narrow">
			      <table>
		      	<tbody>
			     	
					<tr>
						<td>200</td> 
						<td>POST/v1/charges/</td>
						<td>1 Jul 2016 – 12:45</td>
					</tr>
					<tr>
						<td>200</td> 
						<td>POST/v1/ctokens</td>
						<td>1 Jul 2016 – 12:45</td>
					</tr>
				</tbody>
			</table>
			    </div>
  			</details>

		</div>
			

	</div>
</div>
</main>

{% endblock %}
